.App{
  min-height: 100vh;

}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgba(73, 79, 82);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links a{
  text-decoration: none;
}

.nav-links li{
  color: white;
}



.search-form{
  margin-top: 5em;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: 1px solid;
  padding: 15px;
  display: flex;
};

.click{
  background: lightcoral;
  width: 15vh;
  padding: 15px;
  border: none;
  color: white;
}

.info{
  text-align: center;
}
